<!-- DRAWER -->
<div id="drawerOverlay" class="drawer-overlay" onclick="closeDrw()"></div>

<div id="drawer" class="drawer">

  <div class="drawer-head">

    <div class="drawer-title">Menu</div>

    <button class="drawer-close" onclick="closeDrw()">×</button>

  </div>

  <a href="/">Home</a>
  <a href="product-list.html">All Product</a>
  <a href="product-details.html">Product Details</a>

  <a href="https://cradle.pencilwoodbd.com/" target="_blank">Cradle</a>
  <a href="#">Key Holders</a>
  <a href="#">New Arrivals</a>
  <a href="#">Sale</a>
  <a href="#">Corporate</a>

  <a href="login.html" class="login-btn">👤 Login</a>
  <a href="profile.html" class="account-btn" style="display:none;">👤 Account</a>

</div>